
.ant-table-cell {
    border: 0.5px solid rgba(255, 255, 255, 0.25);
}

.table-row {
   background: rgba(11, 10, 10, 0.54);
}

.ant-table-wrapper .ant-table {
    background: transparent;
}

.ant-table-wrapper .ant-table-tbody >tr >td,
.ant-table-wrapper .ant-table-tbody >tr >th,
.ant-table-wrapper .ant-table-thead >tr>th{
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.25);
}

.ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    height: 0
}

.ant-pagination .ant-pagination-disabled .ant-pagination-item-link {
    color: #fff;
}

.ant-table-wrapper .ant-table-tbody > tr.ant-table-placeholder {
    background: rgba(11, 10, 10, 0.54) !important;
    :hover {
        background: rgba(11, 10, 10, 0.54) !important;
    }
}

.ant-empty .ant-empty-description {
    color: #fff;
}

.action-cell {
    background: rgba(255, 255, 255, 0.15);
    width: 28px;
    height: 28px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    border-width: 0;
    padding: 0;
    margin: 0;
}

.ant-pagination .ant-pagination-item a {
    color: white;
}

.ant-pagination .ant-pagination-item-active a {
    color: #000
}

.ant-pagination .ant-pagination-prev button,
.ant-pagination .ant-pagination-next button {
    color: white;
}

.ant-pagination .ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination .ant-pagination-disabled:hover .ant-pagination-item-link {
    color: white;
}

.action-cell > .ant-btn-icon {
    width: fit-content;
}

.ant-btn-default:disabled {
    background: rgba(255, 255, 255, 0.08);
}
